{% extends "baseCheckOut.html" %}
{% load static %}

{% block content %}
<style>
  .push-notification {
    background-color: #38fc69
    ;
    position: fixed;
    right: 20px;
    bottom: 20px;
    color: #fff;
    padding: 15px 30px 15px 30px;
    border-radius: 5px;
    background-repeat: no-repeat;
    opacity: 0.7;
    filter: alpha(opacity=70);
    vertical-align: middle;
    box-shadow: 4px 4px 4px #000;
    -webkit-box-shadow: 4px 4px 4px #000;
    -moz-box-shadow: 4px 4px 4px #000;
}
</style>
<link rel="stylesheet" href="{% static 'css/verify.css'%}">
<script src="{% static 'js/verify.js' %}"></script>
<script src="{% static 'js/vietnamlocalselector.js' %}"></script>

<div class="content-panel">
    <h2 class="title">Address</h2>
    <div class="billing">
        <div class="secure text-center margin-bottom-md">
            <h3 class="margin-bottom-md text-success">
                    <span class="fs1 icon" aria-hidden="true" data-icon=""></span>
                    Where this bill delivered<br>
                </h3>
        </div>
        <form id="billing" class="form-horizontal" method="post" action="#" role="form">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Province: </label>
                <div class="col-sm-9">
                    <input name="{{form.Province.name}}" hidden id="provinceInput" type="text" class="form-control" placeholder="An Giang" >
                    <select onblur="Output('ls_province','provinceInput')" id="ls_province"  class ="form-control" name="ls_province"></select>
                    <p style="color:red" class="help-block" id="province" ></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">City: </label>
                <div class="col-sm-9">
                    <input hidden id="cityInput" name="{{form.City.name}}"  type="text" class="form-control" placeholder="Hanoi" >
                    <select onblur="Output('ls_district', 'cityInput')" id="ls_district"   class ="form-control" name="ls_district"></select>
                    <p style="color:red" class="help-block" id="city"></p>
                </div>
            </div>
            <div class="form-group">
              <label class="col-sm-3 control-label">Ward: </label>
              <div class="col-sm-9">
                  <input id="wardInput" hidden name="{{form.Ward.name}}"  type="text" class="form-control" placeholder="Hanoi" >
                  <select class="form-control" onblur="Output('ls_ward','wardInput' )" id="ls_ward"   name="ls_ward"></select>
                  <p style="color:red" class="help-block" id="city"></p>
              </div>
          </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Details: </label>
                <div class="col-sm-9 form-inline">
                    <input name="{{form.Details.name}}"  placeholder ="01 Vo Van Ngan..." required  type="text" class="form-control">
                    <p style="color:red" class="help-block" id="details"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Date Delivery: </label>
                <div class="col-sm-9 form-inline">
                    <input  onchange="CheckValid('Date must not be null', this.value, 'date')" name="{{form.date_delivery.name}}" type="date" required  class="form-control">
                    <p style="color:red" class="help-block" id="date" ></p>
                </div>
            </div>
            <hr>
            <div class="action-wrapper text-center">
                <h4 class="notes margin-bottom-sm">
                        You'll be charged <span class="text-stronger">$99/year</span> 
                    </h4>
                <div class="action-btn">
                    <button id="btn-submit" disabled class="btn btn-success btn-lg">
                        Make Payment
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </form>
        <button onclick="Open()" class="btn btn-info btn-lg"  >Confirm</button>
    </div>
</div>

<div id="div2" style="position:absolute; top:-100px; left:350px;">
    <div 
      class="container height-100 d-flex justify-content-center align-items-center">
      <div id ="verify" class="position-relative pop-up-off">
        <div class="card p-2 text-center">
          <h6>
            A verify code is being send to your  <strong>{{request.user.email}}</strong> <br/>
          </h6>
          <div>
          </div>
          <div id="otp" class="inputs d-flex flex-row justify-content-center mt-2">
            <input class="m-2 text-center form-control rounded" type="text" id="first" maxlength="1" />
            <input class="m-2 text-center form-control rounded" type="text" id="second" maxlength="1"/>
            <input class="m-2 text-center form-control rounded" type="text" id="third" maxlength="1" />
            <input class="m-2 text-center form-control rounded" type="text" id="fourth" maxlength="1" />
            <input class="m-2 text-center form-control rounded" type="text" id="fifth" maxlength="1"/>
            <input class="m-2 text-center form-control rounded" type="text" id="sixth" maxlength="1"/>
          </div>
          <div class="mt-4">
            <button onclick="validate()" class="btn btn-danger px-4 validate">Validate</button>
          </div>
        </div>
        <div class="card-2">
          <div class="content d-flex justify-content-center align-items-center">
            <span>Didn't get the code</span>
            <span id="code" hidden></span>
            <a onclick = "callCode()" href="#" class="text-decoration-none ms-3"> Resend(1/3)</a>
          </div>
        </div>
      </div>
    </div>
        </div>

        <script>
          var localpicker = new LocalPicker({
            province: "ls_province",
            district: "ls_district",
            ward: "ls_ward"
              });

          function Output(id , inputID){
             textInput = document.getElementById(inputID);
             var e = document.getElementById(id);
             var actualValue= e.options[e.selectedIndex].text;
             textInput.value = actualValue;
          }
        </script>
{% endblock content %}