{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/bill.css'%}">
    <script src="{% static 'js/bill.js' %}"></script>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

</head>
<body id="target" onload ="ModifyClass()">
    <div class="container">
        <h1  class="h3 mb-5">Delivery Details</h1>
        <div class="row" style="padding:0px">
          <!-- Left -->
          <div class="col-lg-9">
            <div class="accordion" id="accordionPayment">
              <!-- Credit card -->
              <div class="accordion-item mb-3">
                <h2 class="h5 px-4 py-3 accordion-header d-flex justify-content-between align-items-center">
                  
                </h2>
                <div id="collapseCC" class="accordion-collapse collapse show" data-bs-parent="#accordionPayment" style="">
                  <div class="accordion-body">
                    <form action = "" method="post" onsubmit = "return valid()">
                        {% csrf_token %}
                    <div class="form-group row">
                          <div class="col-xs-4">{{form}}</div>
                          <span id="warning"></span>
                          <button style="margin-top:20px"  type="submit" class="btn btn-primary">Submit</button>
                    </div>
                  </div>
                  </form>
                </div>
              </div>
              <!-- PayPal -->
              <div class="accordion-item mb-3 border">
                <div id="collapsePP" class="accordion-collapse collapse" data-bs-parent="#accordionPayment" style="">
                  <div class="accordion-body">
                    <div class="px-2 col-lg-6 mb-3">
                      <label class="form-label">Email address</label>
                      <input type="email" class="form-control">
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- Right -->
          <div class="col-lg-3">
            <div class="card position-sticky top-0">
              <div class="p-3 bg-light bg-opacity-10">
                <h6 class="card-title mb-3">Order Summary</h6>
                <div class="d-flex justify-content-between mb-1 small">
                  <span>Subtotal</span> <span>$214.50</span>
                </div>
                <div class="d-flex justify-content-between mb-1 small">
                  <span>Shipping</span> <span>$20.00</span>
                </div>
                <div class="d-flex justify-content-between mb-1 small">
                  <span>Coupon (Code: NEWYEAR)</span> <span class="text-danger">-$10.00</span>
                </div>
                <hr>
                <div class="d-flex justify-content-between mb-4 small">
                  <span>TOTAL</span> <strong class="text-dark">$224.50</strong>
                </div>
                <div class="form-check mb-1 small">
                  <label class="form-check-label" for="tnc">
                    I agree to the <a href="#">terms and conditions</a>
                  </label>
                </div>
                <div class="form-check mb-3 small">
                  <label class="form-check-label" for="subscribe">
                    Get emails about product updates and events. If you change your mind, you can unsubscribe at any time. <a href="#">Privacy Policy</a>
                  </label>
                </div>
                <button class="btn btn-primary w-100 mt-2">Place order</button>
              </div>
            </div>
          </div>
        </div>
      </div>
</body>
</html>