{% extends "base.html" %}

{% block content %}
{% load static %}
<link href = "{% static 'details.css' %}">
<div class="container">
    <div class="row list-project">
        <div class="col-md-7">
            <img src="{{context.image}}" alt="project-image" class="rounded tablet-top">
            <div class="project-info-box mt-0 des">
              <h3>Description</h3>
              <hr>
              <p class="des">{{context.describe}}</p>
          </div>
          </div>
        <!-- / column -->
        <div class="col-md-5" style="padding-top: 100px">
            <div class="project-info-box mt-0">
                <h5>{{context.name}}</h5>
            </div>
            <!-- / project-info-box -->
            <div class="project-info-box mb-10">
                <p><b>Author:   </b> {{context.author}}</p>
                <p><b>Price:     </b>{{context.price}}$</p>
                <p><b>Attitute:     </b>
                    {% for tag in context.tag.all %}
                        #{{tag}}
                    {% endfor %}
                </p>

            </div>
            <!-- / project-info-box -->
            <a style="margin-top: 100px" href="{% url 'add' context.id %}" class="btn btn-primary d-block">Build Now</a>
        </div>
        <!-- / column -->
    </div>
{% endblock content %}







