
{% load static %}
{% load custom_tags %}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/home.css'%}">
    <link rel="stylesheet" href="{% static 'css/slide.css'%}">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
</head>
<body>
    
<div class="container bootdey">
    <div class="col-md-3">
        <section class="panel">
                <div class="panel-body">
                    <input id="searchText" name="kw" type="text" placeholder="Keyword Search" class="form-control" />
                </div>
        </section>
        <section class="panel">
            <header class="panel-heading">
                Category
            </header>
            <div class="panel-body">
                <ul class="nav prod-cat">
                    {%for i in tags%}
                    <li>
                        <a href="{% url 'tag' i.id %}"> {{i.fullName}}</a>
                    </li>
                    {%endfor%}
                </ul>
            </div>
        </section>
        
        <section class="panel">
            <header class="panel-heading">
                Best Seller
            </header>
            <div class="panel-body">
                <div class="best-seller">
                    <article class="media">
                        <a class="pull-left thumb p-thumb">
                            <img src="/images/pic1.png"/>
                        </a>
                        <div class="media-body">
                            <a href="#" class="p-head">Item One Tittle</a>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
                        </div>
                    </article>
                </div>
            </div>
        </section>
    </div>
    <div class="col-md-9">
        <section class="panel">
            <div class="panel-body">
                <div class="pull-left">
                    <ul class="pagination">
                        <li><a href="{% url 'home' %}"><i class="fa fa-home" aria-hidden="true"></i></a></li>
                    </ul>
                </div>
                <div class="pull-right">
                    <ul class="pagination">
                    {% if request.user.is_authenticated %}
                        {% if request.user|has_group:"admin" %}
                            <li ><a href="{% url 'checkout' %}"><i class="fa fa-line-chart" aria-hidden="true"></i> Checkout</a>
                            <li ><a href="{% url 'adminAdd' %}"><i class="fa fa-plus" aria-hidden="true">  Add Product</i></a>
                          {% else %}
                          <li ><a target="_blank" rel="noopener noreferrer" href="{% url 'profile' %}"><i class="fa fa-user" aria-hidden="true"></i>   {{request.user.username}}</a></li>
                          <li ><a target="_blank" rel="noopener noreferrer" href="account/cart"><i class="fa fa-shopping-cart" aria-hidden="true"></i>   cart   {{count}}</a></li>
                        {% endif %}
                    {% endif %}
                    </li>
                      {% if request.user.is_authenticated %}
                              <li ><a target="_blank" rel="noopener noreferrer" href="{% url 'logout' %}"><i class="fa fa-sign-out" aria-hidden="true"></i></a></li>
                      {% else %}
                              <li ><a target="_blank" rel="noopener noreferrer" href="{% url 'login' %}"><i class="fa fa-sign-in" aria-hidden="true"></i></a></li>
                      {% endif %}
                    </ul>
                </div>
            </div>
        </section>
        <section class="panel">
            <div class="accordian">
                <ul>
                    <li>
                        <a href="#">
                            <img src="/images/pic2.png"/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/pic3.png"/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/pic4.png"/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/pic1.png"/>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="/images/pic5.png"/>
                        </a>
                    </li>
                </ul>
            </div>
        </section>
        <!-- product - list -->
        
        <div id="listProduct" class="row product-list" >
            {% for item  in  contexts%}
            <div class="col-md-4">
                <section class="panel">
                    <div class="pro-img-box">
                        <img src="{{item.image}}" alt="" />
                        <button class="adtocart" onclick="add_e({{item.id}})">
                            <i class="fa fa-shopping-cart"></i>
                        </button>
                        <div id="linkadd" hidden >{{item.id}}</div>
                    </div> 
                    <div class="panel-body text-center">
                        <h4>
                            <a style="text-decoration: none;" href="product/{{item.id}}" class="pro-title">
                                {{item.name}}
                            </a>
                        </h4>
                        <p class="price">${{item.price}}</p>
                    </div>
                </section>
            </div>
            <br>
            {%endfor%}
        </div>
    </div>
</div>
<script>
    $(document).ready(function(){
        $('#searchText').on('input',function(){
            $.ajax({
                type: "GET",
                url: "{% url 'home' %}",
                data:{
                    'input':$('#searchText').val()
                },
                success: function(response){
                    $('#listProduct').empty();
                    for(let i = 0;i<response.length;i++){
                        console.log(response[i]);
                        var  k = putElement(response[i].fields,response[i].pk);
                        $('#listProduct').append(k);
                    }
                },
                error: function(){
                }
            });
        });
    });
    function putElement(item,pk){
        var ele = "<div class='col-md-4'><section class='panel'><div class='pro-img-box'><img src='"+item.image+"' /><button class='adtocart'><i class='fa fa-shopping-cart'></i></button></div><div class='panel-body text-center'><h4><a style='text-decoration: none;' href='product/"+pk+"' class='pro-title'>"+item.name+"</a></h4><p class='price'>"+item.price.toString()+'$'+"</p></div></section></div><br>";
        return ele;
    }

    function add_e(id){
         $.ajax({
            type: 'GET',
            url: '/add/'+id,
            data: {
            },
            success: function(response){
                window.alert('Add success');
            },
            error: function () {
                console.log('errors')
            }
        });
    }

</script> 
</body>
</html>



