{% extends 'baseCheckOut.html' %}
{% load static %}
{% block content %}

<div class="content-panel" style="position:relative;">
    <h2 class="title">Billing</h2>
    <div class="billing">
        <div class="secure text-center margin-bottom-md">
            <h3 class="margin-bottom-md text-success">
                    <span class="fs1 icon" aria-hidden="true" data-icon=""></span>
                    Secure credit card payment<br>
                    <small>This is a secure 128-bit SSL encrypted payment</small>
                </h3>
        </div>
        <form onsubmit="return false();" id="billing" class="form-horizontal" method="post" action="" role="form">
            {% csrf_token %}
            <div class="form-group">
                <label class="col-sm-3 control-label">Name on Card</label>
                <div class="col-sm-9">
                    <input name="{{form.name.name}}"  type="text" class="form-control" placeholder="Your name" required>
                    <p style="color:red" class="help-block" id="name"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Card Number</label>
                <div class="col-sm-9">
                    <input onchange="validate('Card Number must have 16 digits',this.value, 16,'CardNumber')" name="{{form.CardNumber.name}}"  type="text" class="form-control" required placeholder="••••  ••••  ••••  ••••">
                    <p style="color:red" class="help-block" id="CardNumber"></p>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Expiration Date</label>
                <div class="col-sm-9 form-inline">
                    <select required class="form-control" name="{{form.ExpirationMonth.name}}" >
                        {% for choice in form.ExpirationMonth.field.choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                    <span class="divider">/</span>
                    <select required class="form-control" name="{{form.ExpirationYear.name}}" >
                        {% for choice in form.ExpirationYear.field.choices %}
                            <option value="{{ choice.0 }}">{{ choice.1 }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">Security Code</label>
                <div class="col-sm-9">
                    <input onchange="validate('Security Code must have 3 digits long',this.value,3,'securityCode')" required type="text" class="form-control"  style="width: 120px;" placeholder="CVC" name="{{form.SecurityCode.name}}" >
                    <p style="color:red" class="help-block" id="securityCode"></p>
                </div>
            </div>
            <hr>
            <div class="action-wrapper text-center">
                <h4 class="notes margin-bottom-sm">
                        You'll be charged <span class="text-stronger">$99/year</span> 
                    </h4>
                <div class="action-btn">
                    <button onclick="" class="btn btn-success btn-lg">
                        Next Step
                        <i class="fa fa-chevron-right"></i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>

<script>
    function validate(message, input, length, id){
        if(input.length != length){
            document.getElementById(id).innerHTML=message;
        }
        else{
            document.getElementById(id).innerHTML='';
        }
    }
    function submit(){
        var ele = document.getElementsByTagName('p');
        event.preventDefault();
        alert(ele.length());
        for (let index = 0; index < ele.length; index++) {
            const element = ele[index];
            alert(element.innerHTML);
            if( element.innerHTML ){
                window.history.back();
                return false;
            }
        }
        return false;
    }
    // $( document ).ready(function() {
    //     var c = $("#billing :input")
    //     c.prop('disabled', true);
    // });


</script>
{% endblock content %}






