{% load static %}
<meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
<br>
<link rel="stylesheet" href="{% static '/css/status.css' %}">
<div class="row">
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="total-orders">
			  	<div class="card-header">
			  		<h5 class="card-title">Quantities</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{products}}</h3>
			  	</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-delivered">
			  	<div class="card-header">
			  		<h5 class="card-title">Purchase</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{totals}} $</h3>
			  	</div>
			</div>
		</div>
	</div>
	<div class="col">
		<div class="col-md">
			<div class="card text-center text-white  mb-3" id="orders-pending">
			  	<div class="card-header">
			  		<h5 class="card-title">Deals</h5>
			  	</div>
			  	<div class="card-body">
			    	<h3 class="card-title">{{bills}}</h3>
			  	</div>
			</div>
		</div>
	</div>
</div>
<img src="data:image/png;base64,{{ graphic|safe }}">