{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/chat.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    {% comment %} <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css"> {% endcomment %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
</head>
<body>
    <button class="open-button" onclick="openForm()">Chat</button>

<div class="chat-popup" id="myForm">
  <div action="/action_page.php" class="form-container">
        <div class="popup-head">
                        <div class="popup-head-left pull-left">
        <small><br> <span class="glyphicon glyphicon-briefcase" aria-hidden="true"></span> Chatting</small></a></div>
        </div>
        <div id="chat" class="chat_box_wrapper chat_box_small chat_box_active" style="opacity: 1; display: block; transform: translateX(0px);">
                                <div id="box" class="chat_box touchscroll chat_box_colors_a">
                                    
                                    
                                </div>
                            </div>  

    <label for="msg"><b>Message</b></label>
    <form id="form">
        <textarea placeholder="Type message.." name="message"></textarea>
        <button type="submit" class="btn">Send</button>
    </form>
    <button type="button" class="btn cancel" onclick="closeForm()">Close</button>
</div>
</div>

    <script type="text/javascript">
        let url = `ws://${window.location.host}/ws/socket-server/`

        const chatSocket = new WebSocket(url)

        chatSocket.onmessage = function(e){
            let data = JSON.parse(e.data)
            console.log('Data:', data)

            if(data.type === 'chat'){
                let messages = document.getElementById('box')
                if(data.message.indexOf(data.username)===-1){
                        messages.insertAdjacentHTML('beforeend', `
                            <div class="chat_message_wrapper">
                                <ul class="chat_message">
                                    <li>
                                        <p>
                                            ${data.message}
                                        </p>
                                    </li>
                                </ul>
                            </div>
                        `)
                }
                else{
                    messages.insertAdjacentHTML('beforeend', `
                        <div style="margin-left:0px" class="chat_message_wrapper chat_message_right">
                            <ul class="chat_message">
                                <li>
                                    <p>
                                        ${data.message}
                                    </p>
                                </li>
                            </ul>
                        </div>
                    `)
                }
            }
        }
        let form = document.getElementById('form')
        form.addEventListener('submit', (e)=> {
            e.preventDefault()
            let message = e.target.message.value 
            chatSocket.send(JSON.stringify({
                'message':message
            }))
            form.reset()
        })

    </script>
    <script>
        function openForm() {
            document.getElementById("myForm").style.display = "block";
        }
        function closeForm() {
            document.getElementById("myForm").style.display = "none";
        }
    </script>
</body>
</html>